@using EntityLayer.Concrete
@model Comment

@{
    ViewData["Title"] = "CommentUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h2>Yorum Düzenle</h2>
            <form method="post">
                @Html.HiddenFor(x=>x.CommentId)
                <div class="form-group">
                    <label class="form-label" asp-for="@Model.CommentTitle">Başlık</label>
                    @Html.TextBoxFor(x=>x.CommentTitle, new {@class="form-control" })
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="@Model.CommentContent">İçerik</label>
                    @Html.TextAreaFor(x=>x.CommentContent,5,10, new { @class ="form-control"})
                </div>

                <button type="submit" class="btn btn-primary">Güncelle</button>
                <a href="/Admin/Blog/BlogComments/" class="btn btn-danger">Vazgeç</a>

            </form>
        </div>
    </div>
</div>

